* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: fantasy;
}

.container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 100px 60px 50px 40px 1fr 100px 100px;
  grid-template-areas:
    ". h1 cart"
    ". product-name ."
    "image priceText ."
    "image priceTag ."
    "image description feature"
    "image button1 button2"
    "footer footer footer"
  ;

}

h1 {
  font-size: 35px;
  font-family: fantasy;
  text-align: center;
  margin-top: 50px;

  grid-area: h1;

  /* background-color: #a1dd8b; */
}

.cart-img {
  grid-area: cart;

  width: 30px;
  margin: 55px;
  right: -200px;
  position: relative;
}

.product-img {

  max-width: 400px;
  max-height: 400px;
  width: 100%;
  grid-area: image;
  margin-left: 20px;
  /* background-color: #8bddac; */

}

.product-name {
  display: block;
  grid-area: product-name;

  font-size: 30px;

  text-align: center;
  margin-top: 30px;
  /* margin-left: 40px; */
  /* background-color: #dd8bdd; */
}

.price-text {
  text-align: center;
  margin-top: 30px;
  grid-area: priceText;
  /* background-color: #dd8b97; */
}

.price-tag {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  grid-area: priceTag;
  /* background-color: #dda88b; */
}

.description {
  /* margin: 30px 20px 20px 200px; */
  margin: auto;
  padding: 30px;
  grid-area: description;
  text-align: center;
  /* width: 400px; */
  width: 50%;
  /* background-color: #ddd98b; */
}

.feature {
  margin: 20px 20px 20px 40px;
  padding-top: 30px;
  grid-area: feature;
  /* background-color: #faed00; */
}

.add-to-cart,
.buy-now {
  display: grid;

  margin: 0 20px;
  padding: 15px 50px;

  font-family: fantasy;

  height: 60px;
  font-size: 17px;
  align-items: center;
  align-self: center;

  position: relative;
  left: 30%;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 2px 2px rgba(172, 171, 169);
}

.add-to-cart {
  background-color: #C9CFD2;
  grid-area: button1;

  max-width: 240px;
  min-width: 220px;
}

.buy-now {
  background-color: #8bddc8;
  grid-area: button2;
  max-width: 240px;
  min-width: 220px;
}

.add-to-cart:hover,
.buy-now:hover,
.cart-img:hover {
  cursor: pointer;

}

.counter {

  grid-area: counter;

  margin: 55px;
  right: -300px;
  position: relative;

  background-color: rgb(158, 7, 7);
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50px;

}

.footer>a>img {
  display: block;
  margin: 30px auto;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 5px;
  width: 100px;
  height: 60px;
  grid-area: footer;
}

.terms {
  font-size: 15px;
  text-align: center;
  padding-bottom: 60px;
}